name: CI - Build and Push Strapi

on:
  push:
    branches: [ main ] # Triggers automatically on code push

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Image to ECR
        run: |
          # Build the image using the company ECR registry path
          docker build -t 811738710312.dkr.ecr.us-east-1.amazonaws.com/sagar-patade-strapi-app:latest .
          # Push the image so it's ready for deployment
          docker push 811738710312.dkr.ecr.us-east-1.amazonaws.com/sagar-patade-strapi-app:latest